.ideias{
    display:flex;
}
    .ideias div{
        width: 50%;
        margin: 5%;
    }

    p{margin: 10px}
    
    .ideias .img{
        text-align: center;

    }
        .ideias img{
            border-radius: 5px;
            max-width: 100%;
            height: auto;
        }

        .ideias .text > *{
            width: 100%;
            margin: 10px;
        }

        .ideias > .text > .inside > #loginGit{
            padding: 7px 12px;
           
        }

.valores{
display: inline-flex;
margin: 10px 0;
}

.valores div{
margin: 10px;
}
    .valores img{
        width: 100px;
        opacity: 0.5;
        border-radius: 30px;
        filter: grayscale(100%);        
    }

.challenges, .challenges>div, .footChallenges{
    background-color:rgb(230, 240, 250);
}

.challenges .blocoChallenges{
    display: flex;
}

.challenges .blocoChallenges > div{
    width: 33%;
}
    .challenges .blocoChallenges{
        margin-inline: 5%;
    }
        .challenge{
            margin-inline: 1%;
            border-radius: 2px;
            padding: 30px 0;
            
        }
        .challenge > div{
            margin: 0px 0px 20px 0px;
        }

            .challenge img{
                width: 100%;
                height: auto;
            } 

            .challenges .blocoChallenges .challenge .detalhes{
                display: flex;
                justify-content: space-around;
                text-transform: uppercase;
                font-size: 12px;
                font-weight: bold;
            }
                    .challenge .detalhes .left > #item1{
                        color: rgb(61, 121, 199);
                    }

                    .challenges .blocoChallenges .challenge .detalhes .left #item2{
                        color: rgb(68, 21, 197);
                    }

                    .challenges .blocoChallenges .challenge .detalhes .left #item3{
                        color: rgb(189, 40, 139);
                    }
                    #item1,#item2,#item3{padding: 0px 5px;}

                .challenges .blocoChallenges .challenge .detalhes .right{
                    background-color: rgb(81, 127, 170);
                    border: 1px white solid;
                    border-radius: 4px;
                    color: white;
                    width: 30%;
                    height: auto;
                    font-size: 10px;
                    
                }
            .challenges .blocoChallenges .challenge .nivel{
                font-weight: bold;
                text-transform: uppercase;
            }

            .nivel{
                margin: 25px 5px 0px 5px;
            }
            .nivel div{
                display:flex;
                justify-content: space-around;
                margin: 0px 20px;
                
            }
                .challenges .blocoChallenges .challenge .nivel .traco{
                    padding: 2px 9%;
                    margin: 3px;
                    border-radius: 3px;

                }

                    .bgreen{background-color: rgb(60, 231, 60);}
                    .bred{background-color:rgb(228, 90, 90)}
                    .borange{background-color: orange;}
                    .bgray{background-color: rgb(202, 202, 202)}

                    .tgreen{color: rgb(60, 231, 60);}
                    .tred{color:rgb(228, 90, 90)}
                    .torange{color:orange}
            

            .challenge .viewChallenge{
                position: relative;
                bottom: 0;
                margin: 20px 10% 7px 10%; 
                padding: 3px 15%; 

                border-radius: 8px;
                background-color: rgb(228, 90, 90);
                text-transform: capitalize;
                color: white;
                font-weight: bold;  
                font-size: 80%;    
         
            }

            .join{
                background-color: rgb(72, 72, 194);;
                padding: 30px 40px 90px 40px;
            }
            .join > div{
                text-align: center;
                border-radius:5px;

            }
                .join .cont-join, .join .cont-join > *{
                        background-color: rgb(72, 72, 194);
                        color: whitesmoke;

                    }

                    .join .cont-join, .join .cont-join > p{
                        margin: 10px 10%;
                    }
                
                .join div div{
                    display: inline;
                    margin: auto;
                    position:relative;
                    left: 50%;
                }
                    .join input{
                        float: left;
                        left: 100px;
                        border: 1px solid rgb(178, 160, 255);
                        background-color: rgb(72, 72, 194);

                    }

                    ::-webkit-input-placeholder{
                        color: rgb(178, 160, 255);
                    }

                    .join button{
                        float: left;
                        background-color: whitesmoke;
                        color: rgb(72, 72, 194);

                    }

                    .join .button{
                        position: absolute;
                        text-align: center;
                        left: 30%;
                        padding: 0px, 50px;
                        
                    }

            .subscribe{
                margin: 25px 0;
                position:absolute;
                left: -30px;
            }
            .subscribe h2{
                text-align:left;
                font-size: 10px;
                font-weight: bold;
            }
            .subscribe *{
                margin: 5px 7px;
            }
            #check{
                margin:4px;
            }
            .subscribe button{
                color:antiquewhite;
                font-weight:400;
                font-style: italic;
            }


@media only screen and (max-device-width: 900px) {    
    .ideias{
        display:flex;
        flex-direction:column-reverse;
    }
        .ideias div{
            width: 80%;
            margin: 5%;
        }

        .ideias .d1{
            position: absolute;
            top:150px; 
        }
        .ideias .d2{
           position: absolute;
           bottom:-530px; 
        }
    
        p{margin: 10px}
        
            .ideias img{
                border-radius: 5px;
                width: 90%;
                height: auto;
                filter: grayscale(30%);
            }
    
            .ideias .text > *{
                position:absolute;
                top: 300px;
                width: 100%;
                margin: 10px;
                font-size: 170%;
            }
    
            .ideias > .text > .inside > #loginGit{
                padding: 7px 12px;
               
            }
            #h2valores{
                margin: 950px 0 0 0;
            }
    .valores{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50% ;
        place-items: center;
    }
    .valores div{
        width: 100%;
        font-size: 150%;
 
    }

    .valores img{
        width: 55%;
        opacity: 0.5;
        border-radius: 30px;
        filter: grayscale(100%); 
    }

    .challenges .blocoChallenges{
        flex-direction: column;
    }

    .challenges .blocoChallenges > div{
        width: 100%;
    }
    
    .challenge{
        display:flex;
        flex-direction: row-reverse;
        border-top: whitesmoke 10px solid;
    }

    .challenge > div{
        margin: 0;
    }

    .challenge .d1{
        width: 50%;      
        margin-top: 30px;
    }

    .challenge .d2{
        width: 70%;
        font-size:150%;
    }

    .detalhes #item1, #item2, #item3{
        font-size: 100%;
    }

    .challenge .viewChallenge{
        position:relative;
        left: 170px;
        background-color: rgb(81, 127, 170);
    }
    
    .challenges.footChallenges{
        background-color:whitesmoke;
    }

    .join, .join input, .join button{
       
        font-size: 90%;
    }

    .join .button{
        left: 20%;
    }

    .join input, .subscribe input, .join button, .subscribe button{
        font-size: 150%;

    }

    .subscribe{
        height: auto;
    }

    
    
    .subscribe{
        left: 0;
    } 
}





