footer{
    position: fixed;
    bottom: 0px;
}

@media only screen and (max-device-width: 900px) {
    body .container{
        font-size: 300%;
    }
    button{
        font-weight: bold;
    }
    .container *{
        margin: 30px 0;
    }
}